/* Estilo del botón de agregar */
.add-character-button {
  text-align: right;
  margin-bottom: 20px;
}

.btn-add-character {
  display: inline-flex;
  align-items: center;
  padding: 10px 16px;
  background-color: #6200ea;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  font-weight: 500;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.btn-add-character:hover {
  background-color: #3700b3;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.btn-add-character .icon {
  font-size: 1.25rem;
  margin-right: 8px;
}

/* Estilo de la cuadrícula de personajes */
.character-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.placeholder-card {
  background-color: #f5f5f5;
  border-radius: 8px;
  height: 300px; /* Ajusta según sea necesario */
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.placeholder-content {
  color: #757575;
  font-size: 1.25rem;
}

/* Estilo de las tarjetas de personajes */
.character-card {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.character-card:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.character-card h3 {
  font-size: 1.5rem;
  margin-top: 0;
}

.character-card h2 {
  font-size: 1.25rem;
  margin-bottom: 8px;
}

.character-image {
  width: 100%;
  height: auto;
  border-radius: 4px;
}


/* Estilos para el overlay */
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Asegura que esté por encima de otros elementos */
}

/* Estilos para el spinner */
.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3); /* Bordes semi-transparente */
  border-top: 4px solid #ffffff; /* Color del borde superior */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

/* Animación para el spinner */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
